<div class="container-fluid">
  <div class="insurance-container">
    <section>
      <div class="maintain-container">
<!--        <div class="image">-->
<!--          <img src="assets/img/payday-loan/maintain.png" alt="maintain">-->
<!--        </div>-->
        <div class="title" [innerHTML]="'payday_loan.maintain_company_title' | translate">
        </div>
        <p class="description" [innerHTML]="'payday_loan.maintain_company_description' | translate">
        </p>
      </div>
    </section>
  </div>
</div>
