<footer class="container-fluid">
  <div #footer id="footer">
    <div class="landing-container">
      <div class="info">
        <div class="d-flex align-items-center info-1">
          <div class="brand">
            <img
              height="48px"
              width="auto"
              src="assets/img/logo/payday-loan-available.png"
              alt="Ứng Lương 0% Lãi"
            />
            <h1
              class="title-2 d-flex align-items-center brand"
              style="margin-left: 8px"
            >
              Ứng Lương 0% Lãi
            </h1>
          </div>
          <mat-divider vertical="true" class="display-web"></mat-divider>
          <div class="slogan">
            Giải pháp ứng lương tự động hóa hoàn toàn cho doanh nghiệp
          </div>
        </div>

        <div class="d-flex align-items-center">
          <div class="footnote-2 brands-footer">
            Một sản phẩm của<img
              height="16px"
              width="auto"
              src="assets/img/logo/tan-truong-thanh-light.svg"
              alt="Tân Trường Thanh"
            />và<img
              height="16px"
              width="auto"
              src="assets/img/logo/mini-logo-monex-light.png"
              alt="Monex"
            />
          </div>
        </div>
      </div>
      <mat-divider class="horizontal-divider"></mat-divider>
      <div class="address-contact">
        <div class="footnote-2 address">
          Địa chỉ liên hệ: Tầng 5, Tòa nhà 389 Đê La Thành, Ba Đình, Hà Nội
        </div>

        <a href="tel:1900234583">
          <button mat-flat-button class="ui-button title-4 hotline">
            <img
              src="assets/img/icon/group-1/svg/call-landingpage.svg"
              alt="call"
            />
            HOTLINE: 1900 234 583
          </button>
        </a>
      </div>
    </div>
  </div>
</footer>
