@import "../../../../../styles/variables";
@import "../../../../../styles/insurance/insurance";
@import "../../../../../styles/insurance/insurance-form";
section {
  font-size: 14px;
  line-height: 18px;
  color: $grey-10;
  font-family: $sfPro;
}

.main-content {
  padding: 24px 0;
  overflow: visible;
  .description {
    margin-bottom: 26px;
  }
}

// .sticky-bottom {
//   box-shadow: inset 0px 1px 0px #F2F2F7;
//   height: 80px;
//   margin-top: 13px;
//   position: sticky;
//   bottom: 0;
//   background-color: white;
// }

.mat-form-field {
  width: 100%;
}

.btn-container {
  padding: 0 64px;
  #user-info-form-confirm-btn {
    width: 100%;
  }
}

.responsive-form-actions {
  padding: 16px 0;
}

.company-title {
  font-family: $sfPro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $grey-10;
  margin-bottom: 16px;
}

.fixed-button {
   position: relative;
   bottom: calc(320px - 100vh);
}

@media (max-width: 768px) {
  .main-content {
    padding-bottom: 0;
  }
}
