<div class="current-loan-user-info pl-space-between-box">
  <div class="current-loan-headline">
    <h2 class="pl-headline current-loan-info-title">
      {{ "payday_loan.current_loan.user_info" | translate }}
    </h2>
  </div>
  <div id="current-loan-user-info-container">
    <ul class="pl-list">
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.full_name" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ userInfo?.personalData?.firstName }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.date_of_birth" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ userInfo?.personalData?.dateOfBirth }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.sex" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ userInfo?.personalData?.gender }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.identifier" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ userInfo?.personalData?.identityNumberOne }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.working_time" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ userInfo?.personalData?.borrowerEmploymentHistoryTextVariable1 }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.total_salary" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ userInfo?.personalData?.annualIncome | formatPrice: null }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.email" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ userInfo?.personalData?.emailAddress }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.account_receive_salary" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ userInfo?.financialData?.accountNumber }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.bank" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ userInfo?.financialData?.bankCode }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.phone_number" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ userInfo?.personalData?.mobileNumber }}
        </p>
      </li>
    </ul>
  </div>
</div>
