<div class="d-flex align-items-center justify-content-center main">
    <div class="d-flex flex-column justify-content-between align-items-center login-container">
        <div class="logo"><img src="assets/img/logo-brand.svg" alt="monex"></div>
        <h3>Đăng nhập với Monex để được hưởng mức giá ưu đãi nhất</h3>
        <div class="d-flex flex-column justify-content-center w-100 login-action">
            <button mat-flat-button color="primary" class="ui-button" (click)="signUp()">Đăng ký</button>
            <button mat-stroked-button color="primary" class="ui-stroked-button" (click)="signIn()">Đăng nhập</button>
        </div>
        <button mat-button class="optional-button" style="width:100%">Đăng nhập sau</button>
    </div>
</div>