<div class="monex_contact_fixed" [ngClass]="{'landing-page': isLandingPage}">
  <ul>
    <li>
      <a
        [href]="zaloURL"
        target="_blank"
        rel="noopener"
        data-toggle="tooltip"
        data-html="true"
        data-placement="left"
        title=""
        data-original-title="Zalo"
      ><img src="assets/img/logo/img_zalo_contactf_2021.png" alt=""
      /></a>
    </li>
    <li>
      <a
        [href]="fbMessURL"
        data-toggle="tooltip"
        data-html="true"
        target="_blank"
        rel="noopener"
        data-placement="left"
        title=""
        data-original-title="Messenger"
      ><img src="assets/img/logo/img_mess_contactf_2021.png" alt=""
      /></a>
    </li>
  </ul>
</div>
