<div class="dialog-img-container" mat-dialog-content>
  <div class="dialog-img-element">
    <h3>{{ "payday_loan.choose_amount.salary_example_title" | translate }}</h3>
    <div class="img-box"></div>
  </div>
  <mat-divider vertical="true"></mat-divider>
  <div class="dialog-img-element">
    <h3>
      {{ "payday_loan.choose_amount.salary_example_title_2" | translate }}
    </h3>
    <button mat-button disableRipple="true" class="close-btn" mat-dialog-close>
      <svg
        width="16"
        height="16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2.807 2.925l.055-.063a.667.667 0 01.88-.055l.063.055L8 7.057l4.195-4.195a.667.667 0 11.943.943L8.943 8l4.195 4.195c.24.24.259.619.056.88l-.056.063a.667.667 0 01-.88.056l-.063-.056L8 8.943l-4.195 4.195a.667.667 0 11-.943-.943L7.057 8 2.862 3.805a.667.667 0 01-.055-.88l.055-.063-.055.063z"
          fill="#C7C7CC"
        />
      </svg>
    </button>
    <div class="img-box-2"></div>
  </div>
</div>
