<div class="container">
  <div class="insurance-container">
    <section>
      <div class="main-content">
        <form [formGroup]="additionalInfoForm" class="form-container">
          <div class="row responsive-form-content">
            <div class="col-md-12">
              <h2>
                {{
                "payday_loan.additional_information.profile_info" | translate
                }}
              </h2>
            </div>

            <div class="col-md-12">
              <mat-form-field
                appearance="outline"
                floatLabel="never"
                class="w-100"
              >
                <mat-label>{{
                  maritalStatus?.fieldName
                  }}</mat-label>
                <mat-select
                  formControlName="maritalStatus"
                  required
                  [placeholder]="
                   maritalStatus?.fieldName
                  "
                >
                  <div *ngFor="let option of maritalStatus.options">
                    <mat-option [value]="option">
                      {{ option }}
                    </mat-option>
                    <mat-divider></mat-divider>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field
                appearance="outline"
                floatLabel="never"
                class="w-100"
              >
                <mat-label>{{
                  educationType?.fieldName
                  }}</mat-label>
                <mat-select
                  formControlName="educationType"
                  [placeholder]="
                   educationType?.fieldName
                  "
                  required
                >
                  <div *ngFor="let option of educationType.options">
                    <mat-option [value]="option">
                      {{ option }}
                    </mat-option>
                    <mat-divider></mat-divider>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field
                appearance="outline"
                floatLabel="never"
                class="w-100"
              >
                <mat-label>{{borrowerDetailTextVariable1?.fieldName}}</mat-label>
                <input
                  name="borrowerDetailTextVariable1"
                  matInput
                  formControlName="borrowerDetailTextVariable1"
                  [placeholder]="
                   borrowerDetailTextVariable1?.fieldName
                  "
                  required
                  type="number"
                  maxlength="255"
                  min="0"
                  [matAutocomplete]="auto"
                />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option
                    *ngFor="let option of borrowerDetailTextVariable1?.options"
                    [value]="option.value"
                  >
                    {{ option.title }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <!-- Vị trí công tác -->
            <div class="col-md-12">
              <mat-form-field
                appearance="outline"
                floatLabel="never"
                class="w-100"
              >
                <mat-label>{{
                  "payday_loan.additional_information.job_position" | translate
                  }}</mat-label>
                <input
                  name="job_position"
                  matInput
                  formControlName="jobPosition"
                  [placeholder]="
                    'payday_loan.additional_information.job_position' | translate
                  "
                  required
                  maxlength="255"
                />
                <show-errors
                  [control]="additionalInfoForm.controls['jobPosition']"
                  [controlLabel]="
                    'payday_loan.additional_information.job_position' | translate
                  "
                  [hasIconPrefix]="false"
                >
                </show-errors>
              </mat-form-field>
            </div>

            <!-- Loại hình công việc -->
            <div class="col-md-12">
              <mat-form-field
                appearance="outline"
                floatLabel="never"
                class="w-100"
              >
                <mat-label>{{
                  "payday_loan.additional_information.job_type"
                    | translate
                  }}</mat-label>
                <mat-select
                  formControlName="jobType"
                  [placeholder]="
                    'payday_loan.additional_information.job_type'
                      | translate
                  "
                  required
                >
                  <div
                    *ngFor="let option of jobType.options"
                  >
                    <mat-option [value]="option">
                      {{ option }}
                    </mat-option>
                    <mat-divider></mat-divider>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Thời hạn trên hợp đồng lao động -->
            <div class="col-md-12">
              <mat-form-field
                appearance="outline"
                floatLabel="never"
                class="w-100"
              >
                <mat-label>{{
                  "payday_loan.additional_information.contractual_term"
                    | translate
                  }}</mat-label>
                <mat-select
                  formControlName="contractExpiration"
                  [placeholder]="
                    'payday_loan.additional_information.contractual_term'
                      | translate
                  "
                  required
                >
                  <div
                    *ngFor="let option of contractExpiration.options"
                  >
                    <mat-option [value]="option">
                      {{ option }}
                    </mat-option>
                    <mat-divider></mat-divider>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <h3>
                {{
                "payday_loan.additional_information.economic_info" | translate
                }}
              </h3>
            </div>

            <div class="col-md-12">
              <mat-form-field
                appearance="outline"
                floatLabel="never"
                class="w-100"
              >
                <mat-label>{{
                  "payday_loan.additional_information.working_time" | translate
                  }}</mat-label>
                <mat-select
                  formControlName="borrowerEmploymentHistoryTextVariable1"
                  [placeholder]="
                    'payday_loan.additional_information.choose_working_time'
                      | translate
                  "
                  required
                >
                  <div
                    *ngFor="
                      let option of borrowerEmploymentHistoryTextVariable1.options
                    "
                  >
                    <mat-option [value]="option">
                      {{ option }}
                    </mat-option>
                    <mat-divider></mat-divider>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <h2>
                {{
                "payday_loan.additional_information.salary_statement_info_title"
                  | translate
                }}
              </h2>
              <div class="guide" [innerHTML]="
                  'payday_loan.additional_document.salary_info_desc'
                    | translate : { year: '2021'}
                ">
              </div>
              <!-- <ul class="guide">
                <li [innerHTML]="
                  'payday_loan.additional_information.salary_info_desc'
                    | translate
                "></li>
                <li [innerHTML]="
                  'payday_loan.additional_information.first_months_salary_info_'
                    | translate
                "></li>
              </ul> -->
              <div class="text-center">
                <button
                  mat-button
                  type="button"
                  id="guide-choose-btn"
                  (click)="openExample()"
                >
                  {{ "payday_loan.additional_document.salary_info_example" | translate }}
                </button>
              </div>
            </div>

            <div class="col-md-12">
              <div class="collateral-document-upload">
                <image-upload-area
                  id="lastMonthSalaryInfo"
                  name="lastMonthSalaryInfo"
                  [imageSrc]="lastMonthSalaryInfoSrc"
                  [placeholderImageSrc]="'sprite-group-3-uploadimage'"
                  [filledTitle]="'payday_loan.additional_document.month_salary_info_img' | translate: {
                    month: requiredMonth?.salaryDocument1
                  }"
                  [uploadTitle]="
                    'payday_loan.additional_document.month_salary_info_upload' | translate: {
                    month: requiredMonth?.salaryDocument1
                  }
                  "
                  [uploadHint]="'payday_loan.additional_document.last_month_salary_info_guide' | translate"
                  [required]="true"
                  [isManualUploadFile]="true"
                  [rules]="'required|size:20000|mimes:image/*'"
                  [acceptFileType]="'image/*'"
                  (receiveResult)="resultLastMonthSalaryInfo($event)"
                >
                </image-upload-area>
              </div>
            </div>

            <div class="col-md-12">
              <div class="collateral-document-upload">
                <image-upload-area
                  id="firstMonthSalaryInfo"
                  name="firstMonthSalaryInfo"
                  [imageSrc]="firstMonthSalaryInfoSrc"
                  [placeholderImageSrc]="'sprite-group-3-uploadimage'"
                  [filledTitle]="'payday_loan.additional_document.first_month_salary_info_img' | translate"
                  [uploadTitle]="
                    'payday_loan.additional_document.first_month_salary_info_upload' | translate"
                  [uploadHint]="'payday_loan.additional_document.first_month_salary_info_guide' | translate: {
                    year: '2021'
                  }"
                  [required]="true"
                  [isManualUploadFile]="true"
                  [rules]="'required|size:20000|mimes:image/*'"
                  [acceptFileType]="'image/*'"
                  (receiveResult)="resultFirstMonthSalaryInfo($event)"
                >
                </image-upload-area>
              </div>
            </div>

            <div class="col-md-12">
              <div class="collateral-document-upload">
                <image-upload-area
                  id="currentMonthSalaryInfo"
                  name="currentMonthSalaryInfo"
                  [imageSrc]="currentMonthSalaryInfoSrc"
                  [placeholderImageSrc]="'sprite-group-3-uploadimage'"
                  [filledTitle]="'payday_loan.additional_document.current_month_salary_info_img' | translate"
                  [uploadTitle]="
                    'payday_loan.additional_document.current_month_salary_info_upload' | translate"
                  [uploadHint]="'payday_loan.additional_document.current_month_salary_info_guide' | translate"
                  [required]="true"
                  [isManualUploadFile]="true"
                  [rules]="'required|size:20000|mimes:image/*'"
                  [acceptFileType]="'image/*'"
                  (receiveResult)="resultCurrentMonthSalaryInfo($event)"
                >
                </image-upload-area>
              </div>
            </div>

            <div class="col-md-12">
              <div class="text-center btn-container">
                <button
                  mat-raised-button
                  type="submit"
                  class="ui-button w-100"
                  id="additional-user-info-confirm-btn"
                  color="primary"
                  [disabled]="additionalInfoForm.invalid"
                  (click)="onSubmit()"
                >
                  {{ "common.continue" | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
